  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/Signup.css"/>
    <title>Login Page</title>
  </head>
  <body>
    <div class="container">
      <img src="https://www.river-cleanup.org/images/logo.png" alt="River CleanUp Logo" class="logos" />
      <form action="/login" method="post">
        <div class="form-group">
          <input type="text" id="username" name="username" placeholder="Username or E-mail" required />
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" class="password-input" placeholder="Password" required />
          <label style="font-size: 14px; display: block; margin-top: 5px;">
            <input type="checkbox" onclick="togglePassword()" /> Show Password
          </label>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="links">
          <h6>you have not sign up click here to sign up</h6>
          <a href="/signup">Sign up</a>
        </div>
      </form>
    </div>

    <script>
      function togglePassword() {
        const passwordInput = document.getElementById('password');
        passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
      }
    </script>
  </body>
  </html>
